html, body {
	font-family: 'Helvetica-Nueue', 'Helvetica', sans-serif;
	font-weight: 100;
}

div {
	display: block;
	background: blue;
	color: white;
}

#projects {
	background: red;
	margin: 20px;
	padding: 20px;
	width: 200px;
}

.favorites {
	background: green;
}